kind: Secret
apiVersion: v1
metadata:
  name: tpa-secret
stringData:
  bombastic_api_url: ${TPA_SERVER_URL}
  oidc_client_id: cli
  oidc_client_secret: ${TPA_CLI_CLIENT_SECRET}
  oidc_issuer_url: ${KEYCLOAK_URL}/realms/${TPA_REALM}
  supported_cyclonedx_version: "1.4"
type: Opaque
