kind: Secret
apiVersion: v1
metadata:
  name: tpa-secret
stringData:
  bombastic_api_url: https://server-{{ rhpds_build_secured_dev_workflows_trusted_profile_analyzer_namespace }}.{{ openshift_cluster_ingress_domain }}
  oidc_client_id: ${TPA_CLI_CLIENT_ID}
  oidc_client_secret: ${TPA_CLIENT_SECRET}
  oidc_issuer_url: https://sso.{{ openshift_cluster_ingress_domain }}/realms/{{ rhpds_build_secured_dev_workflows_trusted_profile_analyzer_keycloak_realm }}
  supported_cyclonedx_version: "1.4"
type: Opaque
