---
- name: Install Trusted Artifact Signer Operator
  ansible.builtin.include_role:
    name: install_operator
  vars:
    install_operator_name: rhtas-operator
    install_operator_namespace: "{{ rhpds_build_secured_dev_workflows_trusted_artifact_signer_namespace }}"
    install_operator_channel: "{{ rhpds_build_secured_dev_workflows_trusted_artifact_signer_channel }}"
    install_operator_automatic_install_plan_approval: "{{ rhpds_build_secured_dev_workflows_trusted_artifact_signer_automatic_install_plan_approval | default('true') }}"
    install_operator_starting_csv: "{{ rhpds_build_secured_dev_workflows_trusted_artifact_signer_starting_csv }}"
    install_operator_catalogsource_setup: "{{ rhpds_build_secured_dev_workflows_trusted_artifact_signer_use_catalog_source }}"
    install_operator_catalogsource_image: "{{ rhpds_build_secured_dev_workflows_trusted_artifact_signer_catalogsource_image }}"
    install_operator_catalogsource_image_tag: "{{ rhpds_build_secured_dev_workflows_trusted_artifact_signer_catalogsource_tag }}"

- name: Template out TAS assets
  ansible.builtin.template:
    src: "{{ item }}.j2"
    dest: "/home/{{ student_name }}/lab-assets/{{ item }}"
  loop:
  - oidc-info-secret.yml
  - oidc-refresher-app.yml
  - tekton-chains-patch.yml
  - tas-instance.yml
  delegate_to: bastion

- name: Save user information for TAS configuration
  agnosticd.core.agnosticd_user_info:
    user: "{{ rhpds_build_secured_dev_workflows_trusted_artifact_signer_username_base }}{{ n + 1 }}"
    data:
      tas_chains_realm: "{{ rhpds_build_secured_dev_workflows_trusted_artifact_signer_chains_realm }}"
      tas_sso_realm: "{{ rhpds_build_secured_dev_workflows_trusted_artifact_signer_sso_realm }}"
      tas_chains_client_id: "{{ rhpds_build_secured_dev_workflows_trusted_artifact_signer_client_id }}"
  loop: "{{ range(0, rhpds_build_secured_dev_workflows_trusted_artifact_signer_num_users | int) | list }}"
  loop_control:
    loop_var: n