---
apiVersion: v1
kind: Secret
metadata:
  name: backstage-env-secret
  namespace: {{ rhpds_build_secured_dev_workflows_developer_hub_namespace }}
type: Opaque
stringData:
  BACKEND_SECRET: "{{ lookup('password', '/dev/null chars=ascii_letters,digits length=24') | b64encode }}"
  BACKEND_URL: "{{ rhads_dh_backstage_url }}"
  ARGOCD_USER: "{{ rhads_dh_argocd_user }}"
  ARGOCD_PASSWORD: "{{ rhads_dh_argocd_password }}"
  ARGOCD_URL: "{{ rhads_dh_argocd_url }}"
  AUTH_OIDC_CLIENT_ID: "{{ rhads_dh_auth_oidc_client_id }}"
  AUTH_OIDC_CLIENT_SECRET: "{{ rhads_dh_auth_oidc_client_secret }}"
  AUTH_OIDC_METADATA_URL: "{{ rhads_dh_auth_oidc_metadata_url }}"
  KEYCLOAK_LOGIN_REALM: "{{ rhads_dh_keycloak_login_realm }}"
  KEYCLOAK_REALM: "{{ rhads_dh_keycloak_realm }}"
  KEYCLOAK_BASE_URL: "{{ rhads_dh_keycloak_base_url }}"
  KEYCLOAK_CLIENT_ID: "{{ rhads_dh_keycloak_client_id }}"
  KEYCLOAK_CLIENT_SECRET: "{{ rhads_dh_keycloak_client_secret }}"
  GITLAB_HOST: "{{ rhads_dh_gitlab_host }}"
  GITLAB_TOKEN: "{{ rhads_dh_gitlab_token }}"
  QUAY_URL: "{{ rhads_dh_quay_url }}"
  QUAY_API_TOKEN: "{{ rhads_dh_quay_api_token }}"
  K8S_SERVICEACCOUNT_TOKEN: "{{ rhads_dh_k8s_serviceaccount_token }}"

