kind: Secret
apiVersion: v1
metadata:
  name: gitlab-auth-secret
stringData:
  password: {{ _rhpds_build_secured_dev_workflows_developer_hub_gitlab_root_token }}
  username: oauth2
type: kubernetes.io/basic-auth
