kind: Secret
apiVersion: v1
metadata:
  name: rox-api-token
stringData:
  rox-api-endpoint: {{ _rhpds_build_secured_dev_workflows_developer_hub_acs_central_host }}:443
  rox-api-token: {{ _rhpds_build_secured_dev_workflows_developer_hub_acs_api_token }}
type: Opaque