kind: Secret
apiVersion: v1
metadata:
  name: rox-api-token
stringData:
  rox-api-endpoint: central.{{ rhpds_build_secured_dev_workflows_developer_hub_rhacs_namespace }}.svc:443
  rox-api-token: {{ _rhpds_build_secured_dev_workflows_developer_hub_rhacs_api_token }}
type: Opaque