kind: Secret
apiVersion: v1
metadata:
  name: tpa-secret
stringData:
  bombastic_api_url: https://{{ _rhpds_build_secured_dev_workflows_developer_hub_tpa_host }}
  oidc_client_id: {{ rhpds_build_secured_dev_workflows_developer_hub_tpa_client_id }}
  oidc_client_secret: {{ rhpds_build_secured_dev_workflows_developer_hub_tpa_client_secret }}
  oidc_issuer_url: https://{{ _rhpds_build_secured_dev_workflows_developer_hub_keycloak_host }}/realms/{{ rhpds_build_secured_dev_workflows_developer_hub_tpa_cli_realm }}
  supported_cyclonedx_version: "1.4"
type: Opaque
