---
- name: Get OpenShift Apps Domain
  ansible.builtin.set_fact:
    _rhpds_build_secured_dev_workflows_developer_hub_gitlab_host: "gitlab-{{
      rhpds_build_secured_dev_workflows_developer_hub_gitlab_namespace }}.{{
      openshift_cluster_ingress_domain }}"
    _rhpds_build_secured_dev_workflows_developer_hub_host: "backstage-{{
      rhpds_build_secured_dev_workflows_developer_hub_namespace }}.{{
      openshift_cluster_ingress_domain }}"
    _rhpds_build_secured_dev_workflows_developer_hub_devspaces_host: "devspaces.{{
      openshift_cluster_ingress_domain }}"
    _rhpds_build_secured_dev_workflows_developer_hub_quay_host: quay-{{ guid }}.{{
      openshift_cluster_ingress_domain }}
    _rhpds_build_secured_dev_workflows_developer_hub_argocd_host: argocd-server-{{
      rhpds_build_secured_dev_workflows_developer_hub_argocd_namespace }}.{{
      openshift_cluster_ingress_domain }}
    _rhpds_build_secured_dev_workflows_developer_hub_keycloak_host: sso.{{
      openshift_cluster_ingress_domain }}
    _rhpds_build_secured_dev_workflows_developer_hub_rhacs_host: central-{{
      rhpds_build_secured_dev_workflows_developer_hub_rhacs_namespace }}.{{
      openshift_cluster_ingress_domain }}

- name: Setup Nginx
  ansible.builtin.include_tasks:
    file: ./setup_nginx.yml

- name: Setup ACS
  ansible.builtin.include_tasks:
    file: ./setup_rhacs.yml

- name: Setup Gitlab
  ansible.builtin.include_tasks:
    file: ./setup_gitlab.yml

- name: Setup Devspaces
  ansible.builtin.include_tasks:
    file: ./setup_devspaces.yml

- name: Setup Quay
  ansible.builtin.include_tasks:
    file: ./setup_quay.yml

- name: Setup Keycloak
  ansible.builtin.include_tasks:
    file: ./setup_keycloak.yml

- name: Setup Developer Hub
  ansible.builtin.include_tasks:
    file: ./setup_dh.yml

- name: Save user information
  agnosticd.core.agnosticd_user_info:
    user: "{{ rhpds_build_secured_dev_workflows_trusted_artifact_signer_username_base }}{{ n + 1 }}"
    data:
      developer_hub_url: "https://{{ _rhpds_build_secured_dev_workflows_developer_hub_host }}"
  loop: "{{ range(0, rhpds_build_secured_dev_workflows_developer_hub_num_users | int) | list }}"
  loop_control:
    loop_var: n