---
- name: Retrieve keycloak admin credentials
  kubernetes.core.k8s_info:
    api_version: v1
    kind: Secret
    name: keycloak-initial-admin
    namespace: "{{ rhpds_build_secured_dev_workflows_developer_hub_keycloak_namespace }}"
  register: r_admin_credentials
  retries: 120
  delay: 10
  until:
  - r_admin_credentials is defined
  - r_admin_credentials.resources is defined
  - r_admin_credentials.resources | length > 0

- name: Set keycloak admin credentials
  ansible.builtin.set_fact:
    _rhpds_build_secured_dev_workflows_developer_hub_keycloak_admin_username: "{{ r_admin_credentials.resources[0].data.username | b64decode }}"
    _rhpds_build_secured_dev_workflows_developer_hub_keycloak_admin_password: "{{ r_admin_credentials.resources[0].data.password | b64decode }}"

- name: Generate keycloak access token
  uri:
    url: https://{{ _rhpds_build_secured_dev_workflows_developer_hub_keycloak_host }}/realms/master/protocol/openid-connect/token
    method: POST
    validate_certs: false
    body_format: form-urlencoded
    body:
      client_id: admin-cli
      username: "{{ _rhpds_build_secured_dev_workflows_developer_hub_keycloak_admin_username }}"
      password: "{{ _rhpds_build_secured_dev_workflows_developer_hub_keycloak_admin_password }}"
      grant_type: password
  register: r_keycloak_access_token

- name: Extend access token lifespan
  uri:
    url: https://{{ _rhpds_build_secured_dev_workflows_developer_hub_keycloak_host }}/admin/realms/master
    method: PUT
    validate_certs: false
    body_format: json
    headers:
      Authorization: Bearer {{ r_keycloak_access_token.json.access_token }}
    body:
      accessTokenLifespan: 1800
    status_code: 204

- name: Regenerate keycloak access token
  uri:
    url: https://{{ _rhpds_build_secured_dev_workflows_developer_hub_keycloak_host }}/realms/master/protocol/openid-connect/token
    method: POST
    validate_certs: false
    body_format: form-urlencoded
    body:
      client_id: admin-cli
      username: "{{ _rhpds_build_secured_dev_workflows_developer_hub_keycloak_admin_username }}"
      password: "{{ _rhpds_build_secured_dev_workflows_developer_hub_keycloak_admin_password }}"
      grant_type: password
  register: r_keycloak_access_token

- name: Set keycloak access token
  ansible.builtin.set_fact:
    _rhpds_build_secured_dev_workflows_developer_hub_keycloak_access_token: "{{ r_keycloak_access_token.json.access_token }}"

- name: Create group tssc
  uri:
    url: https://{{ _rhpds_build_secured_dev_workflows_developer_hub_keycloak_host }}/admin/realms/{{
      rhpds_build_secured_dev_workflows_developer_hub_authentication_realm }}/groups
    method: POST
    validate_certs: false
    body_format: json
    headers:
      Authorization: Bearer {{ _rhpds_build_secured_dev_workflows_developer_hub_keycloak_access_token }}
    body:
      name: tssc
    status_code: 201

- name: Find user1
  uri:
    url: "https://{{ _rhpds_build_secured_dev_workflows_developer_hub_keycloak_host }}/admin/realms/{{
      rhpds_build_secured_dev_workflows_developer_hub_authentication_realm }}/users?username=user1"
    method: GET
    headers:
      Authorization: "Bearer {{ _rhpds_build_secured_dev_workflows_developer_hub_keycloak_access_token }}"
    return_content: true
    validate_certs: false
  register: r_user_lookup

- name: Delete user1 by ID
  uri:
    url: "https://{{ _rhpds_build_secured_dev_workflows_developer_hub_keycloak_host }}/admin/realms/{{
      rhpds_build_secured_dev_workflows_developer_hub_authentication_realm }}/users/{{ r_user_lookup.json[0].id }}"
    method: DELETE
    headers:
      Authorization: "Bearer {{ _rhpds_build_secured_dev_workflows_developer_hub_keycloak_access_token }}"
    status_code: 204
    validate_certs: false

- name: Save user information for user access
  agnosticd.core.agnosticd_user_info:
    user: "{{ rhpds_build_secured_dev_workflows_developer_hub_user_base_name }}{{ n + 1 }}"
    data:
      keycloak_admin_console: "{{ lookup('agnosticd_user_data', 'keycloak_admin_console') | default('') }}"
      keycloak_admin_user: "{{ lookup('agnosticd_user_data', 'keycloak_admin_user') | default('') }}"
      keycloak_admin_password: "{{ lookup('agnosticd_user_data', 'keycloak_admin_password') | default('') }}"
  loop: "{{ range(0, rhpds_build_secured_dev_workflows_developer_hub_num_users | int) | list }}"
  loop_control:
    loop_var: n