---
- name: Get the pod with label 'batch.kubernetes.io/job-name=initialize-gitlab' and check its status
  kubernetes.core.k8s_info:
    api_version: v1
    kind: Pod
    namespace: "{{ rhpds_build_secured_dev_workflows_developer_hub_gitlab_namespace }}"
    label_selectors:
    - batch.kubernetes.io/job-name = initialize-gitlab
  until:
    - r_gitlab_init_info is defined
    - r_gitlab_init_info.resources is defined
    - r_gitlab_init_info.resources | length > 0
    - r_gitlab_init_info.resources[0].status is defined
    - r_gitlab_init_info.resources[0].status.phase is defined
    - r_gitlab_init_info.resources[0].status.phase == "Succeeded" or r_gitlab_init_info.resources[0].status.phase == "Failed"
  register: r_gitlab_init_info
  retries: 60
  delay: 10

- name: Decode root token
  ansible.builtin.set_fact:
    _rhpds_build_secured_dev_workflows_developer_hub_gitlab_root_token: "{{ r_root_token.resources[0].data.token | b64decode }}"

- name: List Gitlab users
  ansible.builtin.uri:
    url: "https://{{ _rhpds_build_secured_dev_workflows_developer_hub_gitlab_host }}/api/v4/users?per_page=100"
    method: GET
    headers:
      PRIVATE-TOKEN: "{{ _rhpds_build_secured_dev_workflows_developer_hub_gitlab_root_token }}"
    validate_certs: false
    status_code: 200
  register: r_users

- name: Create development group
  ansible.builtin.uri:
    url: "https://{{ _rhpds_build_secured_dev_workflows_developer_hub_gitlab_host }}/api/v4/groups"
    method: POST
    body_format: form-urlencoded
    body:
      name: development
      path: development
      visibility: public
    headers:
      PRIVATE-TOKEN: "{{ _rhpds_build_secured_dev_workflows_developer_hub_gitlab_root_token }}"
    validate_certs: false
    status_code: 201
  register: r_group
  retries: 100
  delay: 5
  until: r_group.status == 201

- name: Add users to development group
  when: item.username.startswith('{{ rhpds_build_secured_dev_workflows_developer_hub_gitlab_user_base_name }}')
  ansible.builtin.uri:
    url: "https://{{ _rhpds_build_secured_dev_workflows_developer_hub_gitlab_host }}/api/v4/groups/{{ r_group.json.id }}/members"
    method: POST
    body_format: form-urlencoded
    body:
      user_id: "{{ item.id }}"
      access_level: 50
    headers:
      PRIVATE-TOKEN: "{{ _rhpds_build_secured_dev_workflows_developer_hub_gitlab_root_token }}"
    validate_certs: false
    status_code: 201
  register: r_group_user
  retries: 100
  delay: 5
  until: r_group_user.status == 201
  loop: "{{ r_users.json }}"

- name: Template out DH assets
  ansible.builtin.template:
    src: "{{ item }}.j2"
    dest: "/home/{{ student_name }}/lab-assets/{{ item }}"
  loop:
  - gitlab-auth-secret.yml
  delegate_to: bastion

- name: Save user information for user access
  agnosticd.core.agnosticd_user_info:
    user: "{{ rhpds_build_secured_dev_workflows_developer_hub_user_base_name }}{{ n + 1 }}"
    data:
      gitlab_url: "https://{{ _rhpds_build_secured_dev_workflows_developer_hub_gitlab_host }}"
      gitlab_root_user: "{{ rhpds_build_secured_dev_workflows_developer_hub_gitlab_root_user | default('') }}"
      rhacs_admin_password: "{{ rhpds_build_secured_dev_workflows_developer_hub_gitlab_root_password | default('') }}"
  loop: "{{ range(0, rhpds_build_secured_dev_workflows_developer_hub_num_users | int) | list }}"
  loop_control:
    loop_var: n