---
- name: Setup Developer Hub OIDC
  ansible.builtin.include_tasks:
    file: ./setup_dh_oidc.yml

- name: Initialize Developer Hub catalog URL list
  ansible.builtin.set_fact:
    _rhpds_build_secured_dev_workflows_developer_hub_catalog_url: []

- name: Setup Developer Hub Locations
  ansible.builtin.set_fact:
    _rhpds_build_secured_dev_workflows_developer_hub_catalog_url: "{{ _rhpds_build_secured_dev_workflows_developer_hub_catalog_url + [location] }}"
  vars:
    target: https://{{ _rhpds_build_secured_dev_workflows_developer_hub_gitlab_host }}/{{ location.group }}/{{ location.repository }}/blob/{{ location.revision }}/{{ location.file }}"
  loop: "{{ rhpds_build_secured_dev_workflows_developer_hub_catalog_locations }}"
  loop_control:
    loop_var: location

- name: Create namespace and give Argo CD ownership
  kubernetes.core.k8s:
    api_version: v1
    kind: Namespace
    name: "{{ rhpds_build_secured_dev_workflows_developer_hub_namespace }}"
    state: present
    definition:
      metadata:
        labels:
          argocd.argoproj.io/managed-by: argocd

- name: Make default service account admin
  kubernetes.core.k8s:
    state: present
    template: "{{ item }}"
  loop:
  - service-account-rhdh-kubernetes-plugin.yml.j2
  - secret-rhdh-kubernetes-plugin-sa-token.yml.j2
  - openshift-crb-backstage-rhdh-kubernetes-plugin-admin.yml.j2

- name: Get the secret associated with the kubernetes plugin service account
  kubernetes.core.k8s_info:
    api_version: v1
    kind: Secret
    namespace: "{{ rhpds_build_secured_dev_workflows_developer_hub_namespace }}"
    name: rhdh-kubernetes-plugin-token
  register: r_k8s_plugin_sa_secret
  until:
  - r_k8s_plugin_sa_secret is defined
  - r_k8s_plugin_sa_secret.resources is defined
  - r_k8s_plugin_sa_secret.resources | length > 0
  - r_k8s_plugin_sa_secret.resources[0] is defined
  - r_k8s_plugin_sa_secret.resources[0].data is defined
  - r_k8s_plugin_sa_secret.resources[0].data.token is defined
  - r_k8s_plugin_sa_secret.resources[0].data.token | length > 0

- name: Set postgresql password
  ansible.builtin.set_fact:
    _rhpds_build_secured_dev_workflows_developer_hub_postgresql_password: "{{ lookup('password', '/dev/null chars=ascii_letters,digits '~ 'length=' ~ 10) }}"

- name: Setup Developer Hub Templating
  ansible.builtin.include_tasks:
    file: ./setup_dh_templating.yml
  loop: "{{ rhpds_build_secured_dev_workflows_developer_hub_templating_files }}"
  loop_control:
    loop_var: location
  vars:
    rhads_dh_ingress_domain: "{{ openshift_cluster_ingress_domain }}"
    rhads_dh_quay_backstage_registry: "{{ rhpds_build_secured_dev_workflows_developer_hub_quay_registry }}"
    rhads_dh_quay_backstage_image: "{{ rhpds_build_secured_dev_workflows_developer_hub_quay_image }}"
    rhads_dh_quay_backstage_image_tag: "{{ rhpds_build_secured_dev_workflows_developer_hub_quay_image_tag }}"
    rhads_dh_backstage_host: "{{ _rhpds_build_secured_dev_workflows_developer_hub_host }}"
    rhads_dh_backstage_url: "https://{{ _rhpds_build_secured_dev_workflows_developer_hub_host }}"
    rhads_dh_postgresql_password: "{{ _rhpds_build_secured_dev_workflows_developer_hub_postgresql_password }}"
    rhads_dh_argocd_user: "{{ rhpds_build_secured_dev_workflows_developer_hub_argocd_user | default('admin') }}"
    rhads_dh_argocd_password: "{{ rhpds_build_secured_dev_workflows_developer_hub_argocd_password | default('') }}"
    rhads_dh_argocd_url: "https://{{ _rhpds_build_secured_dev_workflows_developer_hub_argocd_host }}"
    rhads_dh_auth_oidc_client_secret: "{{ rhpds_build_secured_dev_workflows_developer_hub_keycloak_client_secret }}"
    rhads_dh_auth_oidc_client_id: "{{ rhpds_build_secured_dev_workflows_developer_hub_keycloak_client_id }}"
    rhads_dh_auth_oidc_metadata_url: "https://{{ _rhpds_build_secured_dev_workflows_developer_hub_keycloak_host }}/realms/{{
      rhpds_build_secured_dev_workflows_developer_hub_authentication_realm }}/.well-known/openid-configuration"
    rhads_dh_keycloak_login_realm: "{{ rhpds_build_secured_dev_workflows_developer_hub_authentication_realm }}"
    rhads_dh_keycloak_realm: "{{ rhpds_build_secured_dev_workflows_developer_hub_authentication_realm }}"
    rhads_dh_keycloak_base_url: "https://{{ _rhpds_build_secured_dev_workflows_developer_hub_keycloak_host }}"
    rhads_dh_keycloak_client_id: "{{ rhpds_build_secured_dev_workflows_developer_hub_keycloak_client_id }}"
    rhads_dh_keycloak_client_secret: "{{ rhpds_build_secured_dev_workflows_developer_hub_keycloak_client_secret }}"
    rhads_dh_developer_hub_catalog_url: "{{ _rhpds_build_secured_dev_workflows_developer_hub_catalog_url }}"
    rhads_dh_gitlab_host: "{{ _rhpds_build_secured_dev_workflows_developer_hub_gitlab_host }}"
    rhads_dh_gitlab_token: "{{ _rhpds_build_secured_dev_workflows_developer_hub_gitlab_root_token }}"
    rhads_dh_quay_url: "https://{{ _rhpds_build_secured_dev_workflows_developer_hub_quay_host }}"
    rhads_dh_quay_api_token: "{{ _rhpds_build_secured_dev_workflows_developer_hub_quay_token }}"
    rhads_dh_k8s_serviceaccount_token: "{{ r_k8s_plugin_sa_secret.resources[0].data.token | b64decode }}"

- name: Generate backend secret
  ansible.builtin.set_fact:
    _rhpds_build_secured_dev_workflows_developer_hub_backend_secret: "{{ lookup('password', '/dev/null chars=ascii_letters,digits length=24') | b64encode }}"

- name: Get Vault token from secret
  kubernetes.core.k8s_info:
    api_version: v1
    kind: Secret
    namespace: vault
    name: vault-token
  register: r_vault_token_secret

- name: Store Backstage secrets in Vault
  kubernetes.core.k8s_exec:
    namespace: vault
    pod: vault-0
    command: >-
      vault kv put kv/rhads-dh
      backend_secret="{{ _rhpds_build_secured_dev_workflows_developer_hub_backend_secret }}"
      postgresql_password="{{ _rhpds_build_secured_dev_workflows_developer_hub_postgresql_password }}"
      argocd_user="{{ rhpds_build_secured_dev_workflows_developer_hub_argocd_user | default('admin') }}"
      argocd_password="{{ rhpds_build_secured_dev_workflows_developer_hub_argocd_password | default('') }}"
      auth_oidc_client_id="{{ rhpds_build_secured_dev_workflows_developer_hub_keycloak_client_id }}"
      auth_oidc_client_secret="{{ rhpds_build_secured_dev_workflows_developer_hub_keycloak_client_secret }}"
      keycloak_client_id="{{ rhpds_build_secured_dev_workflows_developer_hub_keycloak_client_id }}"
      keycloak_client_secret="{{ rhpds_build_secured_dev_workflows_developer_hub_keycloak_client_secret }}"
      gitlab_token="{{ _rhpds_build_secured_dev_workflows_developer_hub_gitlab_root_token }}"
      quay_api_token="{{ _rhpds_build_secured_dev_workflows_developer_hub_quay_token }}"
      k8s_serviceaccount_token="{{ r_k8s_plugin_sa_secret.resources[0].data.token | b64decode }}"
  environment:
    VAULT_TOKEN: "{{ r_vault_token_secret.resources[0].data.token | b64decode }}"

- name: Create Developer Hub App of Apps application
  kubernetes.core.k8s:
    state: present
    template: application-backstage-app-of-apps.yml.j2