---
- name: Get ACS Central route
  kubernetes.core.k8s_info:
    api_version: route.openshift.io/v1
    kind: Route
    name: central
    namespace: "{{ rhpds_build_secured_dev_workflows_developer_hub_rhacs_namespace }}"
  register: r_central_route

- name: Set ACS Central hostname
  ansible.builtin.set_fact:
    _rhpds_build_secured_dev_workflows_developer_hub_rhacs_central_host: "{{ r_central_route.resources[0].spec.host }}"

- name: Get ACS admin password
  kubernetes.core.k8s_info:
    api_version: v1
    kind: Secret
    name: central-htpasswd
    namespace: "{{ rhpds_build_secured_dev_workflows_developer_hub_rhacs_namespace }}"
  register: r_rhacs_admin_secret

- name: Generate ACS API token
  ansible.builtin.uri:
    url: "https://{{ _rhpds_build_secured_dev_workflows_developer_hub_rhacs_central_host }}/v1/apitokens/generate"
    method: POST
    user: "{{ rhpds_build_secured_dev_workflows_developer_hub_rhacs_admin_user }}"
    password: "{{ rhpds_build_secured_dev_workflows_developer_hub_rhacs_admin_password }}"
    force_basic_auth: true
    validate_certs: false
    body_format: json
    body:
      name: pipelines-ci-token
      roles:
      - Admin
    status_code: 200
  register: r_rhacs_token_response

- name: Set ACS API token
  ansible.builtin.set_fact:
    _rhpds_build_secured_dev_workflows_developer_hub_rhacs_api_token: "{{ r_rhacs_token_response.json.token }}"

- name: Write bastion assets for RHACS
  block:
  - name: Get roxctl
    become: true
    ansible.builtin.get_url:
      url: "{{ rhpds_build_secured_dev_workflows_developer_hub_rhacs_cli_download_url }}"
      dest: /usr/local/bin/roxctl
      mode: '0755'

  - name: Write API token to bastion environment
    become: true
    ansible.builtin.lineinfile:
      path: "/home/{{ student_name }}/.bashrc"
      regexp: "^export ROX_API_TOKEN="
      line: "export ROX_API_TOKEN={{ _rhpds_build_secured_dev_workflows_developer_hub_rhacs_api_token }}"

  - name: Write Rox Central API address to bastion env
    become: true
    ansible.builtin.lineinfile:
      path: "/home/{{ student_name }}/.bashrc"
      regexp: "^export ROX_ENDPOINT="
      line: "export ROX_ENDPOINT={{ _rhpds_build_secured_dev_workflows_developer_hub_rhacs_central_host }}:443"

  - name: Write GRPC_ENFORCE_ALPN_ENABLED to bastion env
    become: true
    ansible.builtin.lineinfile:
      path: "/home/{{ student_name }}/.bashrc"
      regexp: "^export GRPC_ENFORCE_ALPN_ENABLED="
      line: "export GRPC_ENFORCE_ALPN_ENABLED=false"
  delegate_to: bastion

- name: Create ACS API token secret
  kubernetes.core.k8s:
    state: present
    namespace: tssc-app-ci
    template: "rox-api-secret.yml.j2"

- name: Save user information for user access
  agnosticd.core.agnosticd_user_info:
    user: "{{ rhpds_build_secured_dev_workflows_developer_hub_user_base_name }}{{ n + 1 }}"
    data:
      rhacs_admin_console: "https://{{ _rhpds_build_secured_dev_workflows_developer_hub_rhacs_host }}"
      rhacs_admin_user: "{{ rhpds_build_secured_dev_workflows_developer_hub_rhacs_admin_user| default('') }}"
      rhacs_admin_password: "{{ rhpds_build_secured_dev_workflows_developer_hub_rhacs_admin_password | default('') }}"
  loop: "{{ range(0, rhpds_build_secured_dev_workflows_developer_hub_num_users | int) | list }}"
  loop_control:
    loop_var: n