---
- name: Set LiteLLM credentials facts
  ansible.builtin.set_fact:
    _rhpds_build_secured_dev_workflows_developer_hub_litellm_api_url: "{{ lookup('agnosticd_user_data', 'litellm_api_base_url') | default('') }}"
    _rhpds_build_secured_dev_workflows_developer_hub_litellm_api_key: "{{ lookup('agnosticd_user_data', 'litellm_virtual_key') | default('') }}"

- name: Store LiteLLM credentials in Vault
  kubernetes.core.k8s_exec:
    namespace: vault
    pod: vault-0
    command: >-
      vault kv put kv/litellm
      base_url={{ _rhpds_build_secured_dev_workflows_developer_hub_litellm_api_url }}
      virtual_key={{ _rhpds_build_secured_dev_workflows_developer_hub_litellm_api_key }}
  when:
  - _rhpds_build_secured_dev_workflows_developer_hub_litellm_api_url | length > 0
  - _rhpds_build_secured_dev_workflows_developer_hub_litellm_api_key | length > 0
