apiVersion: v1
kind: Secret
metadata:
  name: oidc-info
type:
stringData:
  OIDC_CLIENT_ID: {{ rhpds_build_secured_dev_workflows_trusted_artifact_signer_chains_realm_client_id }}
  OIDC_CLIENT_SECRET: ${TAS_CHAINS_CLIENT_SECRET}
  OIDC_TOKEN_ENDPOINT: https://sso.{{ openshift_cluster_ingress_domain }}/realms/{{ rhpds_build_secured_dev_workflows_trusted_artifact_signer_chains_realm }}/protocol/openid-connect/token