apiVersion: v1
kind: Secret
metadata:
  name: oidc-info
type:
stringData:
  OIDC_CLIENT_ID: ${TAS_CHAINS_CLIENT_ID}
  OIDC_CLIENT_SECRET: ${TAS_CHAINS_CLIENT_SECRET}
  OIDC_TOKEN_ENDPOINT: https://sso.{{ openshift_cluster_ingress_domain }}/realms/${TAS_CHAINS_REALM}/protocol/openid-connect/token