apiVersion: rhtas.redhat.com/v1alpha1
kind: Securesign
metadata:
  name: trusted-artifact-signer
spec:
  ctlog:
    monitoring:
      enabled: false
    trillian:
      port: 8091
  fulcio:
    certificate:
      commonName: fulcio.hostname
      organizationEmail: trusted-artifact-signer@company.dev
      organizationName: TSSC
    config:
      OIDCIssuers:
        - ClientID: ${TAS_CHAINS_CLIENT_ID}
          Issuer: 'https://sso.{{ openshift_cluster_ingress_domain }}/realms/${TAS_CHAINS_REALM}'
          IssuerURL: '${KEYCLOAK_URL}/realms/${TAS_CHAINS_REALM}'
          Type: email
        - ClientID: ${TAS_CHAINS_CLIENT_ID}
          Issuer: 'https://sso.{{ openshift_cluster_ingress_domain }}/realms/${TAS_SSO_REALM}'
          IssuerURL: '${KEYCLOAK_URL}/realms/${TAS_SSO_REALM}'
          Type: email
    ctlog:
      port: 80
      prefix: trusted-artifact-signer
    externalAccess:
      enabled: true
    monitoring:
      enabled: false
  rekor:
    backFillRedis:
      enabled: true
      schedule: 0 0 * * *
    externalAccess:
      enabled: true
    monitoring:
      enabled: false
    pvc:
      accessModes:
        - ReadWriteOnce
      retain: true
      size: 5Gi
    rekorSearchUI:
      enabled: true
    sharding: []
    signer:
      kms: secret
    trillian:
      port: 8091
  trillian:
    database:
      create: true
      pvc:
        accessModes:
          - ReadWriteOnce
        retain: true
        size: 5Gi
      tls: {}
    monitoring:
      enabled: false
  tuf:
    externalAccess:
      enabled: true
    keys:
      - name: rekor.pub
      - name: ctfe.pub
      - name: fulcio_v1.crt.pem
    port: 80
    pvc:
      accessModes:
        - ReadWriteOnce
      retain: true
      size: 100Mi
    rootKeySecretRef:
      name: tuf-root-keys