---
- name: Install Trusted Profile Analyzer Operator
  ansible.builtin.include_role:
    name: install_operator
  vars:
    install_operator_name: rhtpa-operator
    install_operator_namespace: "{{ rhpds_build_secured_dev_workflows_trusted_profile_analyzer_namespace }}"
    install_operator_manage_namespaces:
    - "{{ rhpds_build_secured_dev_workflows_trusted_profile_analyzer_namespace }}"
    install_operator_channel: "{{ rhpds_build_secured_dev_workflows_trusted_profile_analyzer_channel }}"
    install_operator_automatic_install_plan_approval: "{{ rhpds_build_secured_dev_workflows_trusted_profile_analyzer_automatic_install_plan_approval | default('true') }}"
    install_operator_starting_csv: "{{ rhpds_build_secured_dev_workflows_trusted_profile_analyzer_starting_csv }}"
    install_operator_catalogsource_setup: "{{ rhpds_build_secured_dev_workflows_trusted_profile_analyzer_use_catalog_source }}"
    install_operator_catalogsource_image: "{{ rhpds_build_secured_dev_workflows_trusted_profile_analyzer_catalogsource_image }}"
    install_operator_catalogsource_image_tag: "{{ rhpds_build_secured_dev_workflows_trusted_profile_analyzer_catalogsource_tag }}"

- name: Generate pgsql user password
  ansible.builtin.set_fact:
    _rhpds_build_secured_dev_workflows_trusted_profile_analyzer_pgsql_password: >-
      {{ lookup('password', '/dev/null chars=ascii_letters,digits length=10') }}

- name: Create Trusted Profile Analyzer PSQL deployment
  kubernetes.core.k8s:
    state: present
    namespace: "{{ rhpds_build_secured_dev_workflows_trusted_profile_analyzer_namespace }}"
    template: "{{ item }}"
  loop:
  - postgres-database-user-secret.yml.j2
  - postgres-database-pvc.yml.j2
  - postgres-database-deployment.yml.j2
  - postgres-database-svc.yml.j2

- name: Template out secret and TPA CR
  ansible.builtin.template:
    src: "{{ item }}.j2"
    dest: "/home/{{ student_name }}/lab-assets/{{ item }}"
  loop:
  - keycloak-tpa-realm.yml
  - tpa-cli-credentials.yml
  - tpa-instance.yml
  - tpa-secret.yml
  delegate_to: bastion

- name: Save user information for TPA configuration
  agnosticd.core.agnosticd_user_info:
    user: "{{ rhpds_build_secured_dev_workflows_trusted_profile_analyzer_username_base }}{{ n + 1 }}"
    data:
      tpa_admin_username: "{{ rhpds_build_secured_dev_workflows_trusted_profile_analyzer_admin_username }}"
      tpa_admin_password: "{{ rhpds_build_secured_dev_workflows_trusted_profile_analyzer_admin_password }}"
      tpa_cli_client_id: "{{ rhpds_build_secured_dev_workflows_trusted_profile_analyzer_keycloak_cli_client_id }}"
      tpa_cli_client_secret: "{{ rhpds_build_secured_dev_workflows_trusted_profile_analyzer_keycloak_cli_client_secret }}"
  loop: "{{ range(0, rhpds_build_secured_dev_workflows_trusted_profile_analyzer_num_users | int) | list }}"
  loop_control:
    loop_var: n